<nav class="navbar" aria-label="Page navigation example">
    <div class="container-fluid justify-content-center">
        <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)=changePage(currentPage-1)>
                    Previous
                </button>
            </li>
            @for(p of getPagesAsArray(); track $index) {
            <li class="page-item" [class.active]="p === currentPage" [class.d-none]="((p-currentPage>3)||(currentPage-p>3))&&p>3&&(pages-p)>2">
                <button class="page-link" (click)=changePage(p)>
                    @if(((p-currentPage>2)||(currentPage-p>2))&&p>2&&(pages-p)>1)
                    {
                        ...
                    }
                    @else{
                        {{p}}
                    }
                </button>
            </li>
            }
            <li class="page-item">
                <button class="page-link" [class.disabled]="currentPage === pages" (click)=changePage(currentPage+1)>
                    Next
                </button>
            </li>
        </ul>
    </div>
</nav>